<h1>Edit team</h1>

<%= form_for(@team) do |f| %>
  <%= render 'shared/error_messages' %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :manager %><br />
    <%= f.text_field :manager %>
  </div>
  <div class="field">
    <%= f.label :teamid %><br />
    <%= f.text_field :teamid %>
  </div>
  <div class="actions">
    <%= f.submit "Update Team" %>
  </div>
<% end %>